.DS_Store
*.log
node_modules
dist*/
lib
es

.yalc/
yalc.lock

.idea/
.vscode/
temp/
.tmp-projections
build/
.rts2*
coverage/

typesversions
.cache
*.tgz

tsconfig.vitest-temp.json

# Ignore template lock files
/packages/**/package-lock.json
/packages/**/yarn.lock
/packages/**/pnpm-lock.yaml

.eslintcache
